* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

.form-container {
    margin-top: 48px;
    display: flex;
    height: 80vh;
    width: 100%;
}

.left {
    width: 100%;
    height: 100%;
}

.left .image {
    width: 100%;
    height: 100%;
}

.left .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.right {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.right-content {
    width: 60%;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 3rem;
}

.top-header h3 {
    font-size: 36px;
}

.top-header p {
    margin-top: 10px;
    font-size: 16px;
}

.credentials {
    display: flex;
    flex-direction: column;
    width: 30px;
    gap: 2rem;
    width: 90%;
}

.credentials input {
    width: 90%;
    height: 40px;
    border-bottom: 1px solid rgb(201, 196, 196);
}

.login {
    width: 85%;
    display: flex;
    justify-content: space-between;
}

.login input {
    background-color: #db4444;
    color: white;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
}

.bottom-content {
    display: flex;
    align-items: center;
    gap: 5px;
}


.bottom-content p {
    font-size: 14px;

}

.bottom-content a {
    color: #db4444;
    font-size: 14px;

}